<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="visitorsdb_KP" connectionString="Server=localhost\sqldev01;Database=visitorsdb_KP;User Id=visitoruser;Password=Pa$$w0rd;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>